/*
 ____     ___    _____   ___ 
|  _ \   / _ \  |  ___| |_ _|
| |_) | | | | | | |_     | | 
|  _ <  | |_| | |  _|    | | 
|_| \_\  \___/  |_|     |___|
                             
Config file for Fedora 35 i3
by: yeyee2901
14 November 2021

*/

configuration {
    modi: "window,run";
    font: "mono 12";
    show-icons: true;
    terminal: "alacritty";
    run-command: "{cmd}";
    fullscreen: false;
}

@import "solarized.rasi"
